body {
  margin: 0;
  background-color: #f5fafa;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-title {
  font-size: 50px;
  font-weight: 400;
  color: #35B8BE;
  margin-bottom: 40px;
}

.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  min-width: 500px;
  min-height: 120px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  gap: 15px;
}

.form-group label {
  width: 100px;
  font-size: 18px;
  color: #000000;
  font-weight: 200;
}

.form-group input {
  flex: 2;
  padding: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  background-color: #FAFAFA;
}

.form-group ::placeholder {
color: #000000;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.submit-btn,
.cancel-btn {
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.submit-btn {
  background-color: #35B8BE;
  color: white;
}

.cancel-btn {
  background-color: white;
  color: #333;
  border: 1px solid #e2e2e2;
}

